body {
    font-family: Verdana;
    background-image: url("/tananyag/FA/1012/Brazilia_kieg/back.png");
}

a {
    font-weight: bold;
    color: green;
}

hr {
    border: 2px solid green;
}

div.kep {
    text-align: center;
}

div.gomb {
    text-align: end;
}

div.egesz {
    width: 600px;
    padding: 30px;
    border: none;
    margin: auto;
    background-color: white;
}